* {
  all: unset;
}

window.Bar {
  background: rgba(black, 0.5);

  .clock {
    background: rgba(rgb(101, 163, 255), 0.2);
    border-radius: 4px;
    color: rgba(white, 0.85);
    transition: 200ms;

    &.normal {
      padding: 2px 4px;
    }

    &.hover {
      padding: 2px 8px;
    }
  }
}
