@use "colors" as *;
@use "mixins" as *;

%media {
  .media {
    font-size: small;

    .media-popover {
      @include overlay-border($color10, 1px);
      background: $background;
      margin: 10px 6px 0;
    }
  }
}
