@use "colors" as *;
@use "mixins" as *;

%menu {
  .menu {
    .menu-popover {
      @include overlay-border($color10, 1px);
      margin: 8px 6px 0;
      border-radius: 8px;
      background: $background;
    }
  }
}
